body,
html {
     width: 100%;
    /* object-fit: cover; */
    height:100%;
}
.App{
    min-height:100%
}
#root{
    height:100%;
}

.page-background{
/* position: relative;
min-height:100%; */
/* overflow-y: auto;
position: relative;
height: 100vh; */

/* overflow-y: scroll; */
/* height: 100%; */
background: linear-gradient(112.66deg, #DDF6FF 0.66%, #DAC4FF 99.6%);
}

/* Login page */
.login-header{
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

.welcome-text{
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.login-with-google-btn{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #4879F8;
}
.login-with-google-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;    
    color: #007AFE;
}
@media (min-width: 270px) and (max-width: 330px) {

.login-with-google-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #007AFE;
}
.signup-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #007AFE;
}
}


.account-text{    
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.signup-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;    
    color: #007AFE;
}
label{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #72777A;
}
.input-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #373737;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 16px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #E3E5E6;
    border-radius: 10px;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
/* login end */

/* signup page */

.signup-page-text{
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;    
    color: #333333;
}
.terms-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #007AFE;
}

/* signup page end */

/* header */
.header{
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* padding: 0px 40px;           */
        position: absolute;       
        left: 0px;
        top: 0px;    
        background: #FFFFFF;
}
.header-text{
    font-weight: 600;
    font-size: 24px;
    line-height: 16px;
    color: #4879F8;
}
.help-support-text{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* display: flex; */
        align-items: center;
        color: #212121;
}

/* Footer */

.footer{
    /* position: absolute; */
    position:relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* padding: 0px 40px; */
    background: #FFFFFF;
}
.footer-text{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* display: flex; */
    align-items: center;
    color: #999999;
}
@media (min-width: 270px) and (max-width: 315px) {
    .login-header {
            /* font-family: 'Poppins'; */
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
        }
                 .footer-text {
                     font-style: normal;
                     font-weight: 400;
                     font-size: 10px;
                     line-height: 18px;
                     /* display: flex; */
                     align-items: center;
                     color: #999999;
                 }
                 
        
                  .welcome-text {
                      /* font-family: 'Poppins'; */
                      font-style: normal;
                      font-weight: 400;
                      font-size: 11px;
                  }
}

@media (min-width: 315px) and (max-width: 384px) {
    .footer-text {
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 18px;
            /* display: flex; */
            align-items: center;
            color: #999999;
        }

        .welcome-text {
         /* font-family: 'Poppins'; */
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
        }

        .login-header {
          /* font-family: 'Poppins'; */
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
        }
}

/* Home page */

.home-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position:relative;
    /* position: absolute; */
    /* width: 1032px;
    height: 70px;
    left: 23px;
    top: 100px;     */
    background: rgba(255, 255, 255, 0.38);
    border-radius: 10px;
}
.current-plan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 8px 10px; */
    background: #FFFFFF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;        
    color: #000000;
}
.starter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px;        */
    background: #EEEEEE;
    border-radius: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #050505;
}
.device-type{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 12px 20px; */
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.preview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 12px 10px; */
    background: #FFFFFF;
    border-radius: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #4879F8;
}
.refresh{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 12px 10px; */
    background: #FFFFFF;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;        
    color: #4879F8;
}
.publish-site{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 8px 10px;     */
    background: #4879F8;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;        
    color: #FFFFFF;
}

.home-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    /* position: absolute; */    
    background: #F2F2F2;
    border-radius: 20px;
}
.home-about-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 14px;   
    /* padding: 40px 14px; */
    background: #FFFFFF;
    border-radius: 10px;
}
.profile-name{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;    
    color: #202020;
    justify-content: center;
    /* margin:10px 0px; */
}
.profile-about{
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #202020;
    flex-direction: row;
    justify-content: center;
    padding: 4px 10px;
           
    background: #F9F9F9;
    border-radius: 4px;
}
.about-name-img{
    background: #D9D9D9;
}
.home-about-me{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 10px;
}

.about-links-div{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        gap: 33px;
    
        width: 240px;
        height: 47px;
    
        background: #FDFDFD;
        border: 1px solid #B0B0B0;
        border-radius: 10px;
}
.about-link-about{
    font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
    
        color: #222222;
}
.about-link-resume{
font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #222222;
}
.about-link-blog{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #222222;
}
.about-me-header{
    font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;    
        color: #222222;
}
.about-me-text{
    font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;    
        color: #705F5F;
}
.my-projects-header{
    font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;    
        color: #222222;
}
.my-projects-content{

}

.home-profile-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 4px;
    position:relative;
    /* position: absolute; */
    background: #FFFFFF;
    border-radius: 10px;
    margin:0rem 2rem 5rem 0rem;



    align-items: center;
        padding: 0px 4px; 
        /* width: 435px;
        height: 758px;
        left: 1065px;
        top: 100px; */
    
        background: #FFFFFF;
        border-radius: 10px;
}
.home-profile-edit-header{
    display: flex;
    flex-direction: row;
        /* justify-content: space-between; */
    align-items: center;
    padding: 10px 10px 10px 20px;
        /* background: #FFFFFF; */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #101010;
}
.profile-button-text{
align-items: center;
    padding: 10px;
    background: #F8F8F8;
    /* border-radius: 4px; */
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;    
    color: #323337;

}
.profile-button-active{
    align-items: center;
    padding: 10px;
    background: #F8F8F8;
    border-bottom: 2px solid #007AFE;
    /* border-radius: 4px;   */
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #323337;
}
.details-text-header{
    font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
    
        color: #9F9F9F;
}
.details-text{
font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #202020;
}
.accordion-card{
    height: 550px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.accordion-item {
    /* background-color: #fff; */
    /* border: 1px solid rgba(0, 0, 0, .125); */
    display: flex;
    flex-direction: column;
    margin:10px 0px;
}
.accordion-item .accordion-header {
    color: #fff;
    float: left;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #fff;
    background: #F9F9F9;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.25rem;
    /* font-size: 1rem; */
    /* color: #fff; */

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    text-align: left;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1rem;
    margin-left: auto;
    margin-top: auto;
    content: "";
    background-image: url(../../images/downarrow.png);
    background-repeat: no-repeat;
    background-size: 0.75rem;
    /* transition: transform .2s ease-in-out; */
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../../images/uparrow.png);
    transform: rotate(360deg);
}
.accordion-item .accordion-body {
    transition: height 0.2s ease 0s;
    overflow-x: hidden !important;
    padding: 5px 0px;
    /* margin-bottom: 0; */
}
.accordion-item .accordion-collapse {
    transition: height 0.2s ease 0s;
    overflow-x: hidden !important;
    /* margin-bottom: 0; */
}
.accordion-div-height{
    min-height: 10rem;
    height:auto;
}

.accordion-inputs {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #373737;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 16px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #007AFE;
    /* border-radius: 10px; */
}

.upload-image-btn{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    background: #007AFE;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #FFFFFF;
}
.profile-text{
    font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #000000;
}
.template-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #F9F9F9;
    border-radius: 10px;
}
.template-bg{
    background: #D9D9D9;
    border-radius: 5px;
    height:100px;
    width:150px;
}
.template-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    margin:15px 0px;
    align-items: center;    
    color: #000000;
}
.setting-page-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    color: #333333;
}
.setting-delete-btn{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FF3D00;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
    background: #F8F8F8;
    border-radius: 200px;
}
.settings-page{
    width:100%;
    height:100vh;
}

/* subscription page */
.payment-table tr th{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* display: flex;
    align-items: center; */
    color: #171717;
    flex-direction: row;
    justify-content: center;          
    padding: 12px 10px;
    background: #F8F8F8;
    /* border-radius: 10px; */
}
.payment-table{
    height: 100px;
    overflow-y: auto;
}
.payment-table tr td{
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    padding: 12px 12px;
    background: #FFFFFF;
    border-bottom: 1px solid #F8F8F8;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #171717;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

td {
    border: none;
}
.upi-bg{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 10px;    
        background: #F8F8F8;
        border-radius: 10px;
}
.payment-table-upcoming-btn{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2px 10px;
        background: #FFF5C0;
        border-radius: 100px;

        font-weight: 600;
        font-size: 14px;
        line-height: 16px; 
        color: #FFA51F;
}
.paid-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;    
    background: #D8FFC0;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
   
    color: #55A624;
}
.input-border{
border: 2px solid #007AFE;
}
.input-border:focus{
border: 2px solid #007AFE;
}

/* upgrade cards */

.upgrade-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;    
    background: #FFFFFF;
    border: 1px solid rgba(47, 43, 67, 0.1);
    border-radius: 24px;
}
.month-text{
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;    
    color: rgba(47, 43, 67, 0.6);
}
.dollar-text{
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.02em;    
    color: #2F2B43;
}
.basic-text{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.016em;
    color: #2F2B43;
}
.upgrade-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: rgba(47, 43, 67, 0.6);
}
.ordered-list{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #2F2B43;
}
.get-started-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background: #FFFFFF;
    border: 1px solid rgba(47, 43, 67, 0.1);
       
    box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1), inset 0px -1px 0px rgba(47, 43, 67, 0.1);
    border-radius: 12px;
}
.get-started-second-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;    
    background: #2F2B43;
    color:#fff;       
    box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1), inset 0px -1px 0px rgba(47, 43, 67, 0.1);
    border-radius: 12px;
    align-items: center;
    text-align: center;
  }
.upgrade-second-card{
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;    
    background: radial-gradient(137.05% 100% at 50% 0%, #FCD6FF 5.59%, #FFFDD7 62.66%, #FFFFFF 100%);
     
    border: 1px solid rgba(47, 43, 67, 0.1);
    border-radius: 24px;
}
.most-popular-second-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;    
    background: #FFFFFF;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
.payment-method-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;   
    background: #F9F9F9;
    border-radius: 10px;
}
.payment-method-name{
font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.payment-header{
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
}
.domain-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}
